/* Global Styles */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    position: relative;
  }
  
  /* Logo Styles */
  .logo {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 150px;
    width: auto;
  }
  
  /* Container with the background image */
  .container {
    background: url('https://sdmntprsouthcentralus.oaiusercontent.com/files/00000000-6e9c-51f7-a313-0612e0481608/raw?se=2025-04-07T21%3A11%3A22Z&sp=r&sv=2024-08-04&sr=b&scid=5b0a2593-e309-58f7-946b-d94589ca4f75&skoid=fa7966e7-f8ea-483c-919a-13acfd61d696&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-04-07T19%3A28%3A20Z&ske=2025-04-08T19%3A28%3A20Z&sks=b&skv=2024-08-04&sig=9xs5dS%2BD0UyrM3Jzr8mbPeghig/H9NnHBynieDxK4oA%3D') no-repeat center center/cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Content div for text and button */
  .content {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 8px;
  }
  
  .content h2 {
    margin-bottom: 20px;
  }
  
  /* Button Styles */
  button {
    background-color: #ff1b7b;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #1ABC9C;
  }
  
  /* Footer Styles */
  footer {
    text-align: center;
    padding: 10px;
  }
  
